$bg-dark: var(--bg);
$bg-card: var(--bg-card);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);

$accent: var(--accent);
$accent-hover: var(--accent-hover);

$border: var(--border);

$nav: var(--nav)

